faiss-cpu==1.12.0
fastapi
google-generativeai
langchain==1.3.14
langchain-community==0.4.2
langchain-core==1.5.3
langchain-google-genai==4.3.2
langchain-text-splitters==1.1.2
langgraph
python-dotenv
uvicorn
